/* Navbar Container */
.navbar {
  width: 100%;
  background-color: #2874f0;
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

/* Logo Style */
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Links Container */
.links {
  display: flex;
  gap: 25px;
}

/* Styling for all links */
.links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: 0.3s;
}

/* Hover Effect */
.links a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}
