.products {
  text-align: center;
  padding: 40px;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.product-card {
  width: 230px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  font-size: 18px;
  margin-top: 10px;
}

.price {
  font-weight: bold;
  color: green;
}

.product-card button {
  width: 100%;
  padding: 10px;
  background-color: #2874f0;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #185bc4;
}

.product-card:hover {
  transform: scale(1.05);
}
